@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply dark:bg-app-midnight;

    margin: 0;
    padding: 0;
    background-color: rgb(244, 246, 248);
    height: 100%;
}

.theme-toggle {
    --size: 2rem;
    --icon-fill: hsl(0, 0%, 100%);
    --icon-fill-hover: hsl(210, 10%, 67%);
  
  
    background: none;
    border: none;
    padding: 0;
  
    inline-size: var(--size);
    block-size: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
  
    cursor: pointer;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    outline-offset: 5px;

    & > svg {
        inline-size: 100%;
        block-size: 100%;
        stroke-linecap: round;
    }
  }

  .sun-and-moon {
    & > :is(.moon, .sun, .sun-beams) {
      transform-origin: center center;
    }
  
    & > :is(.moon, .sun) {
      fill: var(--icon-fill);
  
      @nest .theme-toggle:is(:hover, :focus-visible) > & {
        fill: var(--icon-fill-hover);
      }
    }
  
    & > .sun-beams {
      stroke: var(--icon-fill);
      stroke-width: 2px;
  
      @nest .theme-toggle:is(:hover, :focus-visible) & {
        stroke: var(--icon-fill-hover);
      }
    }
  }

  .sun-and-moon {
    @nest [data-theme="dark"] & {
      & > .sun {
        transform: scale(1.75);
      }
  
      & > .sun-beams {
        opacity: 0;
      }
  
      & > .moon > circle {
        transform: translateX(-7px);
  
        @supports (cx: 1) {
          transform: translateX(0);
          cx: 17;
        }
      }
    }
  }

/* useful to modify list style type */

/* ol
{
    list-style: none;
    margin-left: 0;
}

li
{
    counter-increment: custom;
}

ol li:before
{
    content: counter(custom) " ";   
    color: #5964E0;
    margin-right: .8rem;
    unicode-bidi: isolate;
    
}

ol li:first-child {
  counter-reset: custom;
} */